.example-card {
  width: 400px;
}
.example-form {
  width: 500px;
}

.example-full-width {
  width: 100%;
  margin-top: 5px;
}

.custom-register{
  text-align: right;
  margin-top: 10px;
}

.red {
  color: red;
}

.custom-error {
  margin-top: 10px;
}
